.main-miproye, .sobremi2, .main-aspectos, .main-blog {
  display: flex;
  flex-direction: column; }

.main-aspectos div {
  display: flex;
  justify-content: center; }

body {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); }

.contenedor .header-miproye {
  display: none; }

.contenedor .barra-navegacion {
  background-color: #87CEEB; }
  .contenedor .barra-navegacion nav ul li {
    font-weight: bold;
    font-family: "Dosis", sans-serif; }
  .contenedor .barra-navegacion .navbar-brand {
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive; }

.main-miproye {
  align-items: center;
  gap: 0.6rem; }
  .main-miproye h2 {
    margin-top: 2rem;
    color: black;
    font-family: "Rubik", sans-serif; }
  .main-miproye img {
    width: 100%; }
  .main-miproye p {
    margin-top: 1rem;
    text-align: center; }

.info-dioses {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem; }
  .info-dioses h3 {
    font-family: "Rubik", sans-serif;
    color: black;
    font-family: "Rubik", sans-serif; }
  .info-dioses div button {
    font-family: 'Signika Negative', sans-serif;
    color: white;
    box-shadow: 0.3rem 0.3rem 0.2rem;
    border-radius: 4rem;
    transition: 2seg; }
  .info-dioses p {
    text-align: center;
    margin-top: 1rem; }

.footer-miproye {
  text-align: center;
  background-color: #87CEEB;
  width: 100%;
  padding: 0.6rem;
  margin-top: 6rem; }
  .footer-miproye .redes {
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1rem;
    margin-bottom: 1.2rem; }
  .footer-miproye .deerchos {
    font-family: "Dosis", sans-serif;
    color: black;
    font-size: 0.8rem;
    margin-bottom: 1.2rem; }
  .footer-miproye a {
    text-decoration: none; }
  .footer-miproye .imagen-logo {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    align-items: center; }
  .footer-miproye .insta, .footer-miproye .facebook, .footer-miproye .youtube {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem; }

.barranavegacion {
  background-color: #87CEEB; }
  .barranavegacion nav ul li {
    font-weight: bold;
    font-family: "Dosis", sans-serif; }
  .barranavegacion .navbar-brand {
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive; }

.main-sobremi h2, .main-sobremi p {
  font-family: "Rubik", sans-serif; }

.sobremi2 {
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .sobremi2 img {
    text-align: center;
    width: 90%; }

.sobremi3 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .sobremi3 p {
    margin-top: 1.2rem;
    margin-left: 1rem; }
  .sobremi3 img {
    margin-top: 1.2rem;
    width: 70%; }
  .sobremi3 span {
    font-weight: bold;
    font-size: 1.1rem; }

.calculo-carta h1 {
  font-size: 1.65rem; }

.calculo-carta h1, .calculo-carta p {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.formulario {
  margin: 1rem; }
  .formulario div {
    margin-top: 1rem; }

.imagen-cartanatal img {
  width: 100%;
  text-align: center; }

.section-1 h2, .section-1 p {
  text-align: center; }

.main-planetas div {
  background-color: #F0E68C; }

.main-planetas h1 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.main-planetas h1, .main-planetas h2, .main-planetas p {
  text-align: center; }

.main-aspectos h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem; }

.main-aspectos h2, .main-aspectos h3, .main-aspectos p {
  text-align: center; }

.main-aspectos img {
  width: 10%; }

.main-aspectos .botones-aspectos {
  justify-content: space-evenly;
  margin-bottom: 3rem;
  margin-top: 2rem; }

.main-blog {
  align-items: center;
  justify-content: center; }
  .main-blog h1, .main-blog h2, .main-blog p {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .main-blog .p-articulo {
    font-family: 'Sriracha', cursive;
    width: 22rem; }
  .main-blog div {
    background-color: #F0E68C;
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: center; }
    .main-blog div p {
      text-align: center; }
    .main-blog div a {
      margin-top: 1rem;
      text-decoration: none;
      list-style: none;
      font-weight: bold;
      font-size: 1.3rem;
      color: black; }

@media screen and (min-width: 992px) {
  .contenedor {
    width: 100%; }
    .contenedor .header-miproye {
      display: flex;
      justify-content: space-between;
      background-color: #87CEEB;
      padding: 1rem 2.2rem; }
      .contenedor .header-miproye h1 {
        font-size: 2.8rem;
        font-family: 'Pacifico', cursive;
        color: black; }
      .contenedor .header-miproye nav ul {
        display: flex;
        list-style: none; }
        .contenedor .header-miproye nav ul li {
          text-decoration: none;
          margin-right: 1rem;
          background-color: whitesmoke;
          padding: 0.6rem;
          margin-top: 0.5rem;
          box-shadow: 0.3rem 0.3rem 0.2rem;
          border-radius: 3rem;
          transition: 2seg;
          font-size: 1rem;
          font-family: 'Signika Negative', sans-serif; }
          .contenedor .header-miproye nav ul li a {
            list-style: none;
            text-decoration: none;
            color: black;
            text-align: right; }
          .contenedor .header-miproye nav ul li:hover {
            background-color: #87CEEB;
            transform: scale(0.9);
            box-shadow: 0.1rem 0.1rem 0.3rem black; }
  .barra-navegacion {
    display: none; }
  .main-miproye {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    grid-template-areas: "carousel h2" "carousel p" "carousel h2-dos" "carousel p-dos";
    justify-content: center;
    justify-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 1rem; }
    .main-miproye #carousel {
      grid-area: carousel;
      width: 60%; }
    .main-miproye h2 {
      grid-area: h2;
      font-size: 2rem;
      margin-top: 2.2rem; }
    .main-miproye p {
      grid-area: p;
      font-size: 1rem;
      text-align: center;
      margin-bottom: 2.2rem;
      width: 45rem; }
    .main-miproye .h2-dos {
      grid-area: h2-dos; }
    .main-miproye .p-dos {
      grid-area: p-dos;
      text-align: center;
      width: 45rem; }
  .divisor p {
    margin-top: 5rem;
    text-align: center;
    background-color: #87CEEB;
    width: 100%; }
  .info-dioses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 4rem;
    gap: 20px; }
    .info-dioses p {
      width: 60rem; }
  .footer-miproye {
    background-color: #87CEEB;
    text-align: center;
    padding: 0.5rem;
    width: 100%; }
    .footer-miproye a {
      text-decoration: none; }
    .footer-miproye .imagen-logo {
      margin-top: 1rem;
      margin-bottom: 1rem;
      align-items: center; }
    .footer-miproye .insta, .footer-miproye .facebook, .footer-miproye .youtube {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1rem; } }

@media screen and (min-width: 992px) {
  .barranavegacion {
    background-color: #87CEEB; }
    .barranavegacion li {
      font-weight: bold;
      font-family: 'Dosis', sans-serif; }
    .barranavegacion .navbar-brand {
      font-size: 2.5rem;
      font-family: 'Pacifico', cursive; }
  .sobremi2 {
    margin-top: 3rem;
    margin-bottom: 3rem; }
    .sobremi2 .p-titulo {
      margin-top: 2rem;
      margin-bottom: 3rem;
      width: 70rem; }
    .sobremi2 img {
      text-align: center;
      width: 50rem; }
  .sobremi3 {
    margin-top: 3rem;
    margin-bottom: 3rem; }
    .sobremi3 .h2-planetas {
      background-color: #87CEEB; }
    .sobremi3 .sobremi3 img {
      margin-top: 1.2rem; }
    .sobremi3 .sobremi3 p {
      margin-top: 1.2rem;
      width: 60rem;
      font-weight: b; }
    .sobremi3 span {
      font-weight: bold; }
    .sobremi3 .imagen-pluton {
      grid-area: imagen-pluton;
      width: 30%;
      margin-left: 5rem; }
    .sobremi3 .p-pluton {
      text-align: center;
      grid-area: p-pluton;
      width: 35rem;
      margin-right: 5rem; }
    .sobremi3 .p-venus {
      text-align: center;
      grid-area: p-venus;
      width: 35rem;
      margin-right: 5rem; }
    .sobremi3 .imagen-venus {
      grid-area: imagen-venus;
      width: 30%;
      margin-left: 5rem; }
    .sobremi3 .imagen-jupiter {
      grid-area: imagen-jupiter;
      width: 30%;
      margin-right: 5rem; }
    .sobremi3 .p-jupiter {
      text-align: center;
      grid-area: p-jupiter;
      width: 35rem;
      margin-left: 5rem; }
    .sobremi3 .imagen-sun {
      grid-area: imagen-sun;
      width: 30%;
      margin-right: 5rem; }
    .sobremi3 .p-sun {
      text-align: center;
      grid-area: p-sun;
      width: 35rem;
      margin-left: 5rem; }
  .planetas-mios {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "p-sun imagen-sun" "imagen-venus p-venus " "p-jupiter imagen-jupiter" "imagen-pluton p-pluton ";
    justify-items: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    gap: 2.5rem; } }

@media screen and (min-width: 992px) {
  .calculo-carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .calculo-carta p {
      width: 60rem; }
    .calculo-carta fieldset {
      background-color: none;
      width: 100vmin;
      text-align: center;
      margin-bottom: 4rem; }
  .section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem; }
    .section-1 p {
      width: 60rem;
      margin-top: 1rem; } }

@media screen and (min-width: 992px) {
  .main-planetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "planetas-ense planetas-ense" "sol luna" "marte venus" "jupiter saturno";
    justify-content: center;
    justify-items: center;
    gap: 1rem; }
    .main-planetas .planetas-ense {
      margin-top: 3rem;
      grid-area: planetas-ense;
      width: 100%; }
    .main-planetas div {
      margin: 0.6rem;
      width: 40rem;
      background-color: #F0E68C;
      border-radius: 5rem;
      padding: 2rem; }
    .main-planetas .sol {
      grid-area: sol; }
    .main-planetas .luna {
      grid-area: luna; }
    .main-planetas .marte {
      grid-area: marte; }
    .main-planetas .venus {
      grid-area: venus; }
    .main-planetas .jupiter {
      grid-area: jupiter; }
    .main-planetas .saturno {
      grid-area: saturno;
      margin-bottom: 1rem; } }

@media screen and (min-width: 992px) {
  .main-aspectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem; }
    .main-aspectos .botones-aspectos {
      justify-content: space-evenly;
      width: 100%; }
    .main-aspectos h3, .main-aspectos p {
      width: 80rem; } }

@media screen and (min-width: 992px) {
  .main-blog .p-articulo {
    width: 50rem; }
  .main-blog div {
    width: 90rem;
    border-radius: 3rem;
    padding: 1rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
