.calculo-carta{
    h1{
        font-size: 1.65rem;
    }
    h1, p{
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
}

.formulario{
    margin: 1rem;
    div{
        margin-top: 1rem
    };
}

.imagen-cartanatal{
    img{
      width: 100%;
      text-align: center;
    }
}

.section-1{
    h2, p{
        text-align: center;
    }
}