
$color-header-footer:#87CEEB;
$fuente-h2-h3:'Rubik', sans-serif;
$fuente-header-footer :'Dosis', sans-serif;
$background-image:linear-gradient(to top, #dfe9f3 0%, white 100%);
$color-divisor-planetas:#F0E68C;
